<IfModule mod_rewrite.c>
RewriteEngine on


RewriteRule (feature|bug|issue)/(.+) https://sourceforge.net/support/tracker.php?aid=$2 [L,R=302]

RewriteRule ^wiki/([A-Z].*) /wiki/pmwiki.php?pagename=$1 [L,qsappend]
RewriteRule ^wiki/(wiki\.d|wikilib\.d|scripts|local)/ [L,F]

# TODO: rewrite URIs involving pmwiki.php...

</IfModule>

RemoveEncoding .tgz
AddType application/x-gzip .tgz

