<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <title>$WikiTitle - $HTMLTitle</title>
  <link rel='stylesheet' href='$PubDirUrl/css/stdlayout.css' type='text/css' />
  <link rel='stylesheet' href='$PubDirUrl/skins/tidy/tidy.css' type='text/css' />
<!--HeaderText-->
</head>
<body>

  <h1 id="mainheading">$WikiTitle: $HTMLTitle</h1>

  <p id="floatbar">Main &middot;
                   <a href='$ScriptUrl/$[PmWiki/WikiHelp]'>Help</a> &middot;
                   <a href='$PageUrl?action=edit'>Edit</a> &middot;
                   <a href='$PageUrl?action=diff'>Diff</a></p>

  <div id="content2">

  <div id="left-nav">
    <!--wiki:$Group.SideBar Main.SideBar-->
  </div>

  <div id="content">
    <h2><a href='$PageUrl'>$Title</a></h2>
    <!--PageText--> 
  </div>

  </div>

  <div id='wikifoot'>
    <div class='footnav'>
      <a href='$PageUrl?action=edit'>$[Edit Page]</a> -
      <a href='$PageUrl?action=diff'>$[Page History]</a> -
      <a href='$PageUrl?action=print' target='_blank'>$[Printable View]</a> -
      <a href='$ScriptUrl/$[$Group/RecentChanges]'>$[Recent Changes]</a> -
      <a href='$ScriptUrl/$[PmWiki/WikiHelp]'>$[WikiHelp]</a> -
      <a href='$ScriptUrl/$[Main/SearchWiki]'>$[SearchWiki]</a></div>
    <div class='lastmod'>$[Page last modified on $LastModified]</div></div>

</body>
</html>
